<div class="column">
    <nav class="panel">
       <div class="panel-heading">Popular Events</div>
       <% @popular_events.each do |popular| %>
        <div class="panel-block">
            <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong><%= popular.eventname %></strong><br />
                        <small>@<%= popular.eventlocation %></small>
                        <small>@<%= popular.eventdate %></small>
                    </p>
                    <p class="control">
                        <%= link_to event_path(popular), class: 'button is-danger is-outlined has-text-grey-darker' do %>
                        <span class="icon has-text-grey-darker">
                        <i class="far fa-eye"></i>
                        </span>
                        <span>View</span>
                        <% end %>
                    </p>
                </div>
           </div>
            </article>
        </div>
    <% end %>
    </nav>
</div>